plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/clowd/.openclaw/workspace/enerlux-website"
publishOrigin = "default"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]